.rdw-image-modal {
  background: gray;
}
.editorClassName {
  height: 50vh !important;
  border: 1px solid #f14;
}
.toolbarClassName{
  background:#9EBEF5 !important;
}
.rdw-option-wrapper img{
  width: 18px;
  height: 18px;
  object-fit:cover;
}